@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: 32px;
}
@media screen and (max-width: 1485px) {
  html {
    font-size: 28px;
  }
}
@media screen and (max-width: 1230px) {
  html {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 20px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #05081D;
  list-style: 1.42;
  -webkit-flow-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  width: 85%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

input {
  font-family: "Open Sans";
}

.hero {
  background-color: #eaf4f5;
  min-height: 120vh;
  position: relative;
}
.hero::before {
  content: "";
  height: 8.4375rem;
  aspect-ratio: 146/100;
  position: absolute;
  top: -1.5625rem;
  left: -1.875rem;
  background: url(../../images/scheme.svg) center no-repeat;
  background-size: cover;
}
.hero::after {
  content: "";
  height: 15%;
  aspect-ratio: 1.46/1;
  position: absolute;
  top: 40%;
  left: 85%;
  background: url(../../images/scheme.svg) center no-repeat;
  background-size: cover;
  -webkit-transform: scaleX(-1) scaleY(-1);
          transform: scaleX(-1) scaleY(-1);
}

.hero__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.9375rem 0.78125rem;
}

.hero__link-list-el {
  z-index: 3;
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 0.625rem;
  position: relative;
}
.hero__link-list-el:last-child {
  margin-right: 0;
  padding-left: 0.625rem;
  width: 2.1875rem;
  border-left: 2px solid #05081D;
}

.hero__btn-img {
  width: 100%;
  height: auto;
}

.hero__lang {
  opacity: 0;
  position: absolute;
  font-size: 0.78125rem;
  right: -0.46875rem;
  top: 1.875rem;
  background-color: #f7fbfb;
  border-radius: 0.46875rem;
  -webkit-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.42);
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.hero__lang .visible {
  opacity: 1;
}

.hero__lang-btn {
  display: block;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.46875rem;
}
.hero__lang-btn.active {
  background-color: #eaefef;
}

.hero__dec--star {
  width: 25%;
  aspect-ratio: 1.0375/1;
  position: absolute;
  background: url(../../images/star_4e.svg) center no-repeat;
  background-size: cover;
}
.hero__dec--star:nth-last-of-type(1) {
  bottom: -4%;
  right: -12%;
}
.hero__dec--star:nth-last-of-type(2) {
  width: 22%;
  bottom: 15%;
  left: -10%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.hero__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__naming {
  letter-spacing: 0.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 0.9375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 1040px) {
  .hero__naming {
    margin-bottom: 40px;
    margin-right: 0;
  }
}
.hero__naming::after {
  content: "";
  width: 9.375rem;
  height: 15.625rem;
  position: absolute;
  bottom: -9.375rem;
  left: -4.6875rem;
  background: url(../../images/arrow.svg) center center no-repeat;
}
@media screen and (max-width: 1040px) {
  .hero__naming::after {
    display: none;
  }
}

.hero__name {
  color: #05081D;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 3.75rem;
}
@media screen and (max-width: 1040px) {
  .hero__name {
    font-size: 5rem;
  }
}
.hero__name--mid {
  padding: 0.0625rem 2.1875rem 0.0625rem 1.875rem;
  color: blue;
  z-index: 2;
  border: 0.0625rem solid blue;
  border-radius: 4.6875rem;
}

.hero__block {
  padding: 1.875rem 1.25rem;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__block:nth-child(1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.875rem 0rem 2.5rem;
}
@media screen and (max-width: 1040px) {
  .hero__block:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__block:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__timer {
  letter-spacing: 0.0625rem;
  height: auto;
  position: relative;
}

.hero__text {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  max-width: 28.125rem;
  border: 0.03125rem solid #05081D;
  padding: 1.25rem;
  letter-spacing: 0.0375rem;
  margin-bottom: 1.25rem;
}

.timer {
  height: 100%;
  padding: 3.125rem;
  background-color: #05081D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}
.timer--el1 {
  position: absolute;
  bottom: -4.6875rem;
  left: -27%;
  width: 9.375rem;
  height: 9.375rem;
  background: url(../../images/star_blue_nobg.svg) center center no-repeat;
  background-size: cover;
  z-index: 1;
}
.timer--el2 {
  position: absolute;
  top: -8.75rem;
  right: -43%;
  width: 18.75rem;
  height: 18.75rem;
  background: url(../../images/star_blue_bg.svg) center center no-repeat;
  background-size: cover;
}
.timer__title {
  color: #eaf4f5;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.5rem;
  position: relative;
  margin-left: 2.03125rem;
  white-space: nowrap;
}
.timer__title:nth-child(1) {
  text-align: left;
}
.timer__title:nth-child(1)::before {
  content: "";
  position: absolute;
  left: -3.4375rem;
  top: -0.46875rem;
  display: inline-block;
  margin-right: 0.46875rem;
  height: 2.8125rem;
  width: 2.8125rem;
  background-image: url("../../images/clock.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.timer__title:nth-child(2) {
  text-align: right;
}

.timer__icon {
  height: 0.9375rem;
  width: 0.9375rem;
}

.timer__countdown {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: blue;
  font-weight: 800;
  font-size: 2.6875rem;
}

.timer__num {
  display: inline;
}

.button {
  text-transform: uppercase;
  font-size: 1.625rem;
  border-radius: 1.5625rem;
  padding: 0.5rem 1.625rem;
}
.button--black {
  background-color: #05081D;
  color: #eaf4f5;
  font-style: italic;
}
.button--blue {
  background-color: blue;
  color: #eaf4f5;
  font-style: italic;
}

.title {
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  border-radius: 1.5625rem;
  padding: 0.3125rem 4.6875rem;
  white-space: nowrap;
  margin-bottom: 0.9375rem;
}
.title--blue {
  letter-spacing: 0.09375rem;
  color: #eaf4f5;
  background-color: blue;
}

.steps {
  background-color: #05081D;
  color: #eaf4f5;
  padding: 1.25rem 0 3.125rem;
  position: relative;
}
.steps::after {
  content: "";
  height: 30%;
  aspect-ratio: 146/100;
  position: absolute;
  background: url(../../images/scheme--white.svg) center center no-repeat;
  background-size: contain;
  top: 40%;
  left: 86%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.steps::before {
  content: "";
  height: 30%;
  aspect-ratio: 146/100;
  position: absolute;
  background: url(../../images/scheme--white.svg) center center no-repeat;
  background-size: contain;
  bottom: 0;
  right: 85%;
}

.steps__dec {
  aspect-ratio: 987/530;
  position: absolute;
  background: url(../../images/shell--bg.svg) center center no-repeat;
  background-size: contain;
  z-index: 0;
}
.steps__dec:nth-of-type(1) {
  width: 25%;
  top: -0.03125rem;
  left: 0;
}
.steps__dec:nth-of-type(2) {
  width: 20%;
  bottom: -0.03125rem;
  right: 0;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.steps__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.steps__list {
  width: 100%;
  font-size: 1rem;
}

.steps__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.40625rem;
}
.steps__item:nth-of-type(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.steps__item:nth-of-type(2) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.steps__item:nth-of-type(3) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.steps__title {
  margin-bottom: 2.1875rem;
  margin-left: 0.625rem;
}

.steps__text {
  max-width: 52%;
}

.steps__num {
  margin-right: 0.625rem;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: italic;
  font-size: 1rem;
}

.borbox {
  border: 0.03125rem solid #eaf4f5;
  padding: 0.0625rem 0.9375rem;
  border-radius: 1.5625rem;
}

.highlight--blue {
  background-color: blue;
}

.faq__container {
  padding: 2.1875rem 1.5625rem;
}

.faq__title {
  font-size: 1.625rem;
}

.faq__subtitle {
  margin-bottom: 0.9375rem;
  color: #a5b3c4;
}

.faq__list {
  -webkit-box-shadow: 0 0.09375rem 0.46875rem rgba(0, 0, 0, 0.11);
          box-shadow: 0 0.09375rem 0.46875rem rgba(0, 0, 0, 0.11);
  border-radius: 0.46875rem;
  max-width: 26.5625rem;
}
.faq__list > .faq__item:last-child .faq__question {
  border: 0;
}

.faq__question {
  padding: 0.46875rem 0.625rem;
  cursor: pointer;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.11);
}

.faq__answer {
  display: block;
  max-height: 0;
  overflow: hidden;
  font-style: italic;
  font-weight: 400;
  background-color: rgba(229, 234, 235, 0.5725490196);
  padding: 0 0.625rem;
  -webkit-transition: max-height 0.3s ease, padding 0.3s ease;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.active .faq__answer {
  padding: 0.46875rem 0.625rem;
  max-height: 200px;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.faq__link {
  color: blue;
  text-decoration: underline;
}

.partners {
  margin-bottom: 2.1875rem;
}

.partners__title {
  padding: 0;
  margin-bottom: 1.5625rem;
}

.partners__list {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vw;
  width: 100%;
}

.partners__img {
  height: 100%;
  width: auto;
}

.swapper-container {
  width: 100%;
}

.swapper-wrapper {
  width: 100%;
}

.footer {
  width: 80%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem 0;
}

.footer-container {
  position: relative;
  overflow: hidden;
}
.footer-container::after {
  content: "";
  height: 70%;
  aspect-ratio: 1.46/1;
  position: absolute;
  top: -30%;
  right: 0;
  background: url(../../images/scheme.svg) center no-repeat;
  background-size: cover;
  -webkit-transform: scaleX(-1) scaleY(-1);
          transform: scaleX(-1) scaleY(-1);
}
@media screen and (max-width: 1040px) {
  .footer-container::after {
    top: -12vw;
  }
}

.footer__dec--star {
  width: 10%;
  aspect-ratio: 1/1;
  position: absolute;
  background: url(../../images/star_blue_nobg.svg) center no-repeat;
  background-size: cover;
}
.footer__dec--star:nth-of-type(3) {
  top: -15%;
  right: 95%;
}
.footer__dec--star:nth-of-type(2) {
  width: 7%;
  bottom: 6%;
  left: 93%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.footer__logo {
  height: 10vw;
  width: auto;
  aspect-ratio: 321/126;
}

.footer__text {
  width: 30%;
  font-size: 0.6875rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vw;
}

.footer__link {
  font-size: 0.75rem;
  padding: 0.15625rem 0.78125rem;
}
@media screen and (max-width: 1040px) {
  .footer__link {
    font-size: 0.5625rem;
  }
}

.footer__subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0.46875rem;
  font-style: italic;
  font-weight: 400;
}

.footer__post-link {
  font-weight: 800;
  font-style: normal;
  color: blue;
}

.hidden {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out, -webkit-transform 1s ease-out;
}

.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.delay {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.slide-in-left {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.slide-in-left.visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.scroll-animation {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}