.button{
    text-transform: uppercase;
    font-size: rem(52px);
    border-radius: rem(50px);
    padding: rem(16px) rem(52px);

    &--black{
        background-color: $darkBlue;
        color: $white;
        font-style: italic;
    }

    &--blue{
        background-color: blue;
        color: $white;
        font-style: italic;
    }
}