.faq__container{
    padding: rem(70px) rem(50px);
}

.faq__title{
    font-size: rem(52px);
}

.faq__subtitle{
    margin-bottom: rem(30px);
    color: #a5b3c4;
}

.faq__list{
    box-shadow: 0 rem(3px) rem(15px) rgba(0, 0, 0, 0.11);
    border-radius: rem(15px);
    max-width: rem(760px);

    & > .faq__item:last-child .faq__question{
        border: 0;
    }
}

.faq__question{
    padding: rem(15px) rem(20px);
    cursor: pointer;
    border-bottom: rem(2px) solid rgba(0, 0, 0, 0.11);
}

.faq__answer{
    display: block;
    max-height: 0;
    overflow: hidden;
    font-style: italic;
    font-weight: 400; 
    background-color: #e5eaeb92;
    padding: 0 rem(20px);
    transition: max-height 0.3s ease, padding 0.3s ease;
}
.active .faq__answer{
    padding: rem(15px) rem(20px);
    max-height: 200px;
    transition: max-height 0.5s ease;
}
