.partners{
    margin-bottom: rem(70px);
}

.partners__title{
    padding: 0;
    margin-bottom: rem(50px);
}

.partners__list{
    display: flex;
    height: 10vw;
    justify-content: space-between;
}