.title{
    font-style: italic;
    text-transform: uppercase;
    font-size: rem(56px);
    font-weight: 700;
    border-radius: rem(50px);
    padding: rem(10px) rem(150px);
    white-space: nowrap;
    margin-bottom: rem(30px);

    &--blue{
        letter-spacing: rem(3px);
        color: $white;
        background-color: blue;
    }
}